
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-logo{
    display: flex;
   
}
.nav-logo h3{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 18px;
text-align: left;
}
/* .nav-var{
    margin: 10px;
}
.nav-var a{
    text-decoration: none;
    padding: 10px;
} */
.nav-var{
    display: flex;
}
.nav-var img{
    display: none;
    width: 34px;
}
.nav-var ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
 .nav-var ul li {
    margin-right: 20px;
  }
 .nav-var ul li a {
    /* color: white; */
    text-decoration: none;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }

.buttons button{
    width: 100px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;

border-radius: 12px;
background: rgb(254, 163, 1);
}
.buttons button:hover{
 background-color: gray;
}


.hero{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.courage h1{
    font-family: Quicksand;
font-size: 26px;
font-weight: 350;
line-height: 30px;
text-align: left;
}
.courage p{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 12px;
line-height: 12px;
text-align: left;
}
.courage button{
    border-radius: 12px;
    color: white;
    padding: 5px;
background: rgb(17, 17, 17);
font-family: Quicksand;
cursor: pointer;
border: none;
}
.courage button:hover{
    background-color: gray;
}

.image-hero{
    margin-right: 40px;
    text-align: left;

}
.image-hero img{
    width: 270px;
    height: 250px;
   
}

.stander{
    background-image: url('image/bg.png');
}
.stander h1{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 26px;
text-align: center;
}

.natoque{
    display: flex;
    justify-content: space-around;
}
.kinder{
    text-align: center;
    box-sizing: border-box;
    padding:12px;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.kinder img{
   margin-top: 22px;
width: 130.7px;
}
.kinder h3{
    color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 20.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
}
.kinder p{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 12.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.read-button{
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 12.09px;
text-align: center;
border: none;

   
}
.read-button button{
    border: none;
    color: blue;
    cursor: pointer;
}
.circel{
    text-align: center;
    padding: 24px 12px;
    align-items: center;
    

}
.circel img{
    width: 60px;
    border-radius: 50%;
background: rgb(254, 163, 1);
padding-left: 2px;
color: aliceblue;
text-align: center;

}
.story{
    text-align: center;
    background: url('image/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.story-contant{
    display: flex;
    justify-content:space-around;
   
}

.story h1{
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 26px;
text-align: center;
/* margin: 30px; */
padding: 60px;
}
.view{
    margin: 30px;
    padding: 20px;
    width: 197px;
height: 50px;
    border-radius: 12px;
background: rgb(17, 17, 17);
color: white;
cursor: pointer;
}
.story-1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* width: 540.27px; */
    border-radius: 16px;
    /* align-items: start;  */
background: rgba(255, 255, 255, 0.985);
text-align: center;
/* gap: 0px; */
}
.container {
    position: relative;
    width: 100%;
  ;
  }
  
  .container img {
    width: 100%;
    height: 337px;;
    border-radius: 16px 16px 0px 0px;

background: url(),rgb(217, 217, 217);
  }
  
  .container .btn {
    position: absolute;
    top: 90%;
    left:2%;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

.story-1 h2{
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}
.story-1 p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
}
.story-2{
    /* width: 540.27px; */
    border-radius: 16px;
    align-items: start; 
background: rgb(255, 255, 255);
text-align: center;

}
.story-2-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    margin: 10px;
   gap: 12px;
}
.container-2 {
    position: relative;
    /* width: 100%; */
  
  }
  
  .container-2 img {
    width: 100%;
    /* height: auto; */
    border-radius: 16px 16px 0px 0px;

    background: url(),rgb(217, 217, 217);

   
  }
  
  .container-2 .btn-2 {
    position: absolute;
    top: 90%;
    left:2%;
   
    border-radius: 47.93px;

    background: rgb(149, 178, 38);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
   
    text-align: center;
  }
  .container-2 h4{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 12.34px;
text-align: center;

  }

.footer{
    background: rgb(1, 172, 253);
}

.foot-logo{
    display: flex;
    color: white;
}
.foot{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 12px;

text-align: left;
}
.footer-link ul{
    /* text-align: center; */
    /* color: white; */
    list-style: none;
    
}
.footer-link li{
    margin: 10px;
}
.footer-link li a{
    text-decoration: none;
    color: white;
}
.footer-link h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
   
    text-align: left;
}
.footer{
    display: flex;
    justify-content: space-around;
    /* margin: 30px; */
    padding: 40px;

}

.touch{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 16px;
text-align: left;

}
.touch img{
    padding: 7px;
    cursor: pointer;
}


@media only screen and (max-width:1220px) {
    
    
}
@media only screen and (max-width:575px) {
  .nav{
  padding: 12px;
    border-bottom: 2px solid orange;
  }
   .nav-logo h3{
    color: transparent;
   }


   .checkbtn {
    display: block;
    
  }
    .nav-var ul {
        right: -100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       display: none;
       
    }
    .nav-var img{
        display: block;
        text-align: right;
        padding-left: 200px;
        
    }
    #check:checked ~ .nav-var ul {
       right: 0;
       display: block;
    }
 
  .buttons button{
   display: none;
  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .image-hero  {
    text-align: center;
   
    
  }
  .courage h1 {
    text-align: center;
  
  }
  .courage p {
    text-align: center;
   
    
  }
  .natoque{
    display: flex;
    flex-direction: column;
    gap: 20px;  
    }
    .circel{
        display: none;
    }
    .story-1{
        display: none;
    }
    .story-2-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer{
        display: flex;
        flex-direction: column;
        text-align: left;
       
    
    }
    .footer-link li a{
        text-align: left;
}

}


